* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body { 
    height: 100%;
    padding: 10px;
    color: #262626;
    background-color: #60686f !important;
    font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5% !important;
    min-width:1000px;
   _width: expression( document.body.clientWidth > 1000 ? "1000px" : "auto" ); /* sets max-width for IE */
}
table {
    height:50%; 
    width:65%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: white !important;
    text-decoration: none;
}
ul {
    width:100%;
}
li {
    width:3.5%;
}

.navbar-default {
    height:20px !important;
    background-image: -webkit-linear-gradient(top,#101010 0,#101010 100%) !important;
    background-image: -o-linear-gradient(top,#101010 0,#101010 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#101010),to(#101010)) !important;
    background-image: linear-gradient(to bottom,#101010 0,#101010 100%) !important;
}

a:hover {
    text-decoration: underline;
    color: black;
}

input, button, select {
    font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;
    font-weight: 300;
    font-size: 14px;
    padding: 2px;
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.hide
{
   display:none;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}
.selected-row > td {
        background: black !important;
        border-color: black !important;
        color:white;
    }

.highlighted-row > td {
        background-color: #c4e2ff !important;
        border-color: #c4e2ff;
    }

.navigation {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    border-right: 1px solid #e9e9e9;
}

.navigation li {
    margin: 10px 0;
}

.demo-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
}

iframe[name='demo'] {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}


